html, body {
  background-color: black;
  background-image: url(https://scontent.ford1-1.fna.fbcdn.net/hphotos-xtp1/t31.0-8/12829461_10153442631315777_6923973237197672207_o.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  width: 100%;
 
}
#header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 10vw;
}
.topInfo {
  color: white;
  font-size: 1.25vw;
  text-align: right;
  font-weight: bold;
  font-family: times;
  background-color: rgba(0, 0, 0, .8);
  position: relative;
  z-index: 5;
  width: 100vw;
  height: 4vw;
  float: right;
  padding-top: 1%;
}
.topInfo a {
  text-decoration: none;
  color: white;
}
.topInfo a:hover {
  color: navy;
}
.nav {
  font-family: cambria;
  position: relative;
  z-index: 6;
  float: right;
  width: 100%;
  height: 6vw;
  margin-top: 0vw;
}
#mobileMenu {
  display: none;
}
.about {
  margin-left: 13.5%;
  position: relative;
  z-index: 8;
}
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 8;
}
.nav li {
  width: 12%;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1.25vw;
  display: inline-block;
  position: relative;
  z-index: 8;
}
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  border-bottom: none;
  transition: .3s;
  position: relative;
  z-index: 8;
}
.nav a:hover {
  background-color: navy;
}
.nav li li {
  font-size: 80%;
  position: relative;
  z-index: 8;
  background-color: gray;
}
.nav li ul {
  position: absolute;
  display: none;
  width: inherit;
  z-index: 8;
}
.nav li:hover ul {
  display: block;
}
.nav li ul li {
  display: block;
  width: 831%;
}
.logo {
  width: 15vw;
  height: 15vw;
  border-radius: 100%;
  position: fixed;
  z-index: 7;
}
#main {
  padding-top: 5vw;
}
.flag {
  text-align: center;
  margin-left: 93.75vw;
  margin-right: 1.25vw;
  width: 3.5vw;
  position: fixed;
  background-color: rgba(100, 100, 100, .8);
  z-index: 0;
  margin-top: 8vw;
}
.flag img:hover {
  opacity: 0.5;
}
.flag img {
  margin-top: 1vw;
  width: 3.5vw;
  height: 3.5vw;
  opacity: 1;
  z-index: 1;
}
.flag-f img{
  margin-top: 0vw;
}
.container {
  padding-top: 10%;
  width: 100%;
  height: 13vw;
  margin: 0 auto;
  text-align: center;
}
.container div {
  display: inline-block;
  display: none;
}
.container img {
  width: 27vw;
  height: 13vw;
}
.next {
  position: relative;
  width: 2vw;
  height: 13vw;
  background-color: rgba(0, 0, 0, .75);
  border: none;
}
.prev {
  display: inline-block;
  position: relative;
  width: 2vw;
  height: 13vw;
  background-color: rgba(0, 0, 0, .75);
  border: none;
}
.cta {
  color: white;
  margin: auto;
  text-align: center;
  margin-top: 15%;
  background-color: red;
  width: 20%;
  position: relative;
  padding: 0.5%;
  box-shadow: 0px 0px 20px 1px black inset;
  border-radius: 5px;
}
.cta a {
  color: white;
  font-family: verdana;
  letter-spacing: 1px;
  font-size: 1.5vw;
  display: block;
  text-decoration: none;
}
.cta:hover {
  transition: 1s;
  letter-spacing: 1px;
  background-color: white;
  color: red;
}
.cta a:hover {
  transition: 0.1s;
  color: red;
  font-family: verdana;
}
.content {
  background-color: rgba(255, 255, 255, .75);
  font-family: verdana;
  margin: 3%;
  padding: 1%;
  border-radius: 0.25%;
  font-size: 17.5px;
}
#footer {
  color: white;
  background-color: black;
  border-style: solid;
  border-color: white;
  border-left: none;
  border-right: none;
  font-size: 15px;
  text-align: center;
  width: 100%;
}
#footer div {
  display: inline-block;
  padding: 1vw;
}
.left {
  float: left;
  margin-left: 1vw;
  padding-top: 1vw;
}
.right {
  float: right;
  margin-right: 1vw;
  padding-top: 1vw;
}
.mission {
  width: 40vw;
}
.mobileLogo {
  display: none;
}
.mobileTopInfo {
  display: none;
}
.mobileContainer {
  display: none;
}
@media (max-width: 770px) {  
  .topInfo {
    display: none;

  }
  .mobileTopInfo {
    display: block;
    background-color: black;
    color: white;
    font-size: 11px;
    line-height: 20px;
    width: 100%;
    padding-left: 20vw;
    height: 15vw;
    margin: auto;
    text-align: center;
    
  }
  .mobileTopInfo a {
    color: white;
    text-decoration: none;
    
  }
  #mobileMenu {
    display: inline-block;
  }
  #mobileMenu ul{
    display: none;
  }
  #mobileMenu:hover ul{
    display: block;
  }
  #mobileSans {
    display: none;
  }
  .nav {
    margin-top: 0w;
  }
  .nav li {
    width: 18%;
     font-size: 10px;
  }
  .nav li ul {
    width: inherit;
  }
  .about {
    margin-left: 0;
  }
  .flag {
    margin-left: 85vw;
    margin-top: 30vw;
    width: 8vw;
  }
  .flag img {
    width: 8vw;
    height: 8vw;
    
  }
  .mobileContainer {
    display: block;
    color: white;
    margin-top: 40vw;
    background-color: black;
    text-align: center;
    margin-right: 8.5vw;
    margin-left: 3%;
    border-radius: 1%;
    font-family: copperplate;
  }
  .container {
    display: none;
  }
  .cta {
    display: none;
  }
  .mobileCta a{
  color: white;
  font-family: verdana;
  letter-spacing: 1px;
  font-size: 12px;
  display: block;
  text-decoration: none;
  }
  .mobileCta {
  color: white;
  margin-top: 5%;
  margin-right: 8.5vw;
  margin-left: 3%;
  text-align: center;
  background-color: red;
  position: relative;
  padding: 2.5%;
  box-shadow: 0px 0px 20px 1px black inset;
  border-radius: 5px;
  }
  .mobileCta a:hover{
  color: black;
  }
  .content {
    clear: both;
    font-size: 12px;
    margin-right: 8vw;
    margin-top: 15%;
  }
  #footer {
    font-size: 9px;
  }

}